{% extends 'base-admin.html.twig' %}

{% block body %}
    <div class="row">
        <div class="col">
            <p>{{ 'projects.list'|trans }}</p>
        </div>
    </div>

    <div class="row">
        <div class="col">
            {{ dump(projects) }}
        </div>
    </div>
{% endblock %}